<nav class="navbar navbar-default" th:fragment="menu">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/anasayfa">YTUDAK</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a href="/anasayfa">Anasayfa</a></li>
                <li><a href="/malzemeler">Listele</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" > <a href="/zimmetVer">Zimmet Ver</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/zimmetAl">Zimmet Al</a></li>
                <li><a href="/kayit">Geçmiş Kayıtlar</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <b sec:authentication="name"></b>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li sec:authorize="hasAnyRole('ROLE_BASKAN','ROLE_ADMIN')">
                            <a href="/profil">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Profil Bilgilerim
                            </a>
                        </li>
                        <li sec:authorize="hasRole('ROLE_BASKAN')">
                            <a href="/onay/malzemeDuzenle">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Beklemedeki Onaylar
                            </a>
                        </li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')">
                            <a href="/malzemeEkle">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Malzeme Ekle
                            </a>
                        </li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')">
                            <a href="/malzemeDuzenle">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>  Malzeme Duzenle & Sil
                            </a>
                        </li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')">
                            <a href="/kategoriEkle">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Kategori Ekle
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="/logout">
                                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Çıkış Yap
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>


