<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
        <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
        <div th:replace="favicon :: favicon"></div>
        <title>Malzeme Zimmetleme</title>
    </head>
<body>

<div th:insert="header:: menu"></div>
<div class="container">
    <h2>Malzemeler</h2>
    <div class="table-responsive">
        <table id="myTable" class="table table-striped">
            <thead>
            <tr style="font-weight: bold;">
                <td scope=" col">#</td>
                <td scope=" col">Kategori</td>
                <td scope=" col">Tip</td>
                <td scope=" col">Model</td>
                <td scope=" col">İsim</td>
                <td scope=" col">Numara-Boy</td>
                <td scope=" col">Not</td>
                <td scope=" col">Zimmet Durumu</td>
                <td scope=" col"> Statü</td>
                <td scope=" col"></td>
            </tr>
            </thead>
            <tbody id="malzemeBody">
            <tr th:each="malzeme:${malzemelist}">
                <td th:text="${malzeme.id}" name="id"></td>
                <td th:text="${malzeme.kategori.kategori}"></td>
                <td th:text="${malzeme.tip}"></td>
                <td th:text="${malzeme.model}"></td>
                <td th:text="${malzeme.isim}"></td>
                <td th:text="${malzeme.numara_boy}"></td>
                <td th:text="${malzeme.durum_not}"></td>
                <div th:switch="${malzeme.aktiflik}">
                    <td th:case="true">Kulüpte</td>
                    <td th:case="false">Verilmiş</td>
                </div>
                <div th:switch="${malzeme.status}">
                    <td th:case="${T(com.ytudak.malzeme.model.Status).KULLANILABILIR}" style="color: green">Kullanılabilir</td>
                    <td th:case="${T(com.ytudak.malzeme.model.Status).KULLANILAMAZ}" style="color: red;">Kullanılamaz</td>
                    <td th:case="${T(com.ytudak.malzeme.model.Status).ONAY_BEKLIYOR}" style="color: blue">Eklenme Onayı Bekliyor</td>
                    <td th:case="${T(com.ytudak.malzeme.model.Status).SILME_BEKLIYOR}" style="color: blue">Silinme Onayı Bekliyor</td>
                    <td th:case="${T(com.ytudak.malzeme.model.Status).DUZENLEME_BEKLIYOR}" style="color: blue">Düzenleme Onayı Bekliyor</td>
                </div>
                <td>
                    <a th:href="@{/statuonay/reddet/{id}(id=${malzeme.id})}">
                        <button class="btn btn-danger pull-right">Reddet</button>
                    </a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th></th>
                <th> kategori</th>
                <th> Tip</th>
                <th> Model</th>
                <th> isim</th>
                <th> numara-boy</th>
                <th> not</th>
                <th> Zimmet Durumu</th>
                <th> Statü</th>
            </tr>
            </tfoot>
        </table>
    </div>

    <form th:action="@{/statuonay/onay}" method="post" id="zimmetForm">
        <!-- hidden input -->
        <div class="form-group" style="display: none;">
            <input class="form-control" type="text" id="malzemeNoList" name="malzemeNoList" required readonly hidden>
        </div>
        <br>
        <button id="button" type="submit" class="form-control btn btn-primary">Onayla!</button>

    </form>
    <script>
        $(document).ready(function () {
            var table = $('#myTable').DataTable({
                initComplete: function () {
                    this.api().columns().every(function () {
                        var column = this;
                        var select = $('<select><option value=""></option></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                }
            });

            $('#myTable tbody').on('click', 'tr', function () {
                $(this).toggleClass('selected');
            });

            $('#button').click(function () {
                var secilenliste = table.rows('.selected').data().toArray();
                if (secilenliste.length == 0) {
                    alert("seçim yapmadınız!");
                    event.preventDefault();  // form submit'i engelle
                    return; // boşsa iptal
                } else {
                    var idArray = [];
                    for (var i = 0; i < secilenliste.length; i++) {
                        idArray.push(secilenliste[i][0]);
                    }
                    $("#malzemeNoList").val(idArray.join(",").toString());
                }
            });
        });
    </script>
</div>
</body>
</html>