<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
        <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
        <div th:replace="favicon :: favicon"></div>
        <title>Malzeme Zimmetleme Onay</title>
    </head>
<body>
<div th:insert="header:: menu"></div>
<div class="container">
    <h2>Seçilen Malzemeler</h2>
    <div class="table-responsive">
        <table id="myTable" class="table table-striped">
            <thead>
            <tr style="font-weight: bold;">
                <td scope=" col">#</td>
                <td scope=" col">Kategori</td>
                <td scope=" col">Tip</td>
                <td scope=" col">Model</td>
                <td scope=" col">İsim</td>
                <td scope=" col">Numara-Boy</td>
            </tr>
            </thead>
            <tbody id="malzemeBody">
            <tr th:each="malzeme:${secilenler}">
                <td th:text="${malzeme.id}" name="id"></td>
                <td th:text="${malzeme.kategori.kategori}"></td>
                <td th:text="${malzeme.tip}"></td>
                <td th:text="${malzeme.model}"></td>
                <td th:text="${malzeme.isim}"></td>
                <td th:text="${malzeme.numara_boy}"></td>
            </tr>
            </tbody>
        </table>
        <form th:action="@{/zimmetVer/zimmetle/onay}" method="post">
            <div class="form-group">
                <label for="alanKisi">Alan Kisi</label>
                <input class="form-control" type="text" id="alanKisi" name="alanKisi" readonly required>
            </div>
            <div class="form-group">
                <label for="verenMalzemeci">Veren Malzemeci</label>
                <input class="form-control" type="text" id="verenMalzemeci" name="verenMalzemeci" readonly required>
            </div>
            <div class="form-group">
                <label for="verilmeNot">Verilme Not</label>
                <input class="form-control" type="text" id="verilmeNot" name="verilmeNot" readonly required>
            </div>
            <!-- hidden input -->
            <div class="form-group">
                <label for="malzemeNoList">Seçilen Malzemeler</label>
                <input class="form-control" type="text" id="malzemeNoList" name="malzemeNoList" required readonly>
            </div>

            <div class="form-group">
                <button id="button" type="submit" class="btn btn-primary"> Onayla ve Zimmetle</button>
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        var table = $('#myTable').DataTable({});
    });
</script>

<!--
  Kaynak : https://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html#script-inlining-javascript-and-dart
-->
<script th:inline="javascript">
    /*<![CDATA[*/

    document.getElementById("alanKisi").value = [[${kisi.alanKisi}]];
    document.getElementById("verenMalzemeci").value = [[${kisi.verenMalzemeci}]];
    document.getElementById("verilmeNot").value = [[${kisi.verilmeNot}]];
    document.getElementById("malzemeNoList").value = [[${kisi.malzemeNoList}]];

    /*]]>*/
</script>
</body>
</html>